# ETL Pipeline Preparation
Follow the instructions below to help you create your ETL pipeline.
### 1. Import libraries and load datasets.
- Import Python libraries
- Load `messages.csv` into a dataframe and inspect the first few lines.
- Load `categories.csv` into a dataframe and inspect the first few lines.

In [79]:
# import libraries
import pandas as pd

In [80]:
# load messages dataset
messages = pd.read_csv('../data/disaster_messages.csv')
messages.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [81]:
# load categories dataset
categories = pd.read_csv('../data/disaster_categories.csv') 
categories.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

### 2. Merge datasets.
- Merge the messages and categories datasets using the common id
- Assign this combined dataset to `df`, which will be cleaned in the following steps

In [83]:
# merge datasets
df = messages.merge(categories, on='id', how='left')
df.head()

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...

In [84]:
df.isna().sum()

id                0
message           0
original      16140
genre             0
categories        0
dtype: int64

### 3. Split `categories` into separate category columns.
- Split the values in the `categories` column on the `;` character so that each value becomes a separate column. You'll find [this method](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.Series.str.split.html) very helpful! Make sure to set `expand=True`.
- Use the first row of categories dataframe to create column names for the categories data.
- Rename columns of `categories` with new column names.

In [85]:
# create a dataframe of the 36 individual category columns
categories = df.categories.str.split(';', expand=True)
categories.head()

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

In [86]:
# select the first row of the categories dataframe
row = categories.iloc[0] 

# use this row to extract a list of new column names for categories.
# one way is to apply a lambda function that takes everything 
# up to the second to last character of each string with slicing
category_colnames = row.map(lambda x: x[:-2]).tolist()
print(category_colnames)

['related', 'request', 'offer', 'aid_related', 'medical_help', 'medical_products', 'search_and_rescue', 'security', 'military', 'child_alone', 'water', 'food', 'shelter', 'clothing', 'money', 'missing_people', 'refugees', 'death', 'other_aid', 'infrastructure_related', 'transport', 'buildings', 'electricity', 'tools', 'hospitals', 'shops', 'aid_centers', 'other_infrastructure', 'weather_related', 'floods', 'storm', 'fire', 'earthquake', 'cold', 'other_weather', 'direct_report']

In [87]:
# rename the columns of `categories`
categories.columns = category_colnames
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

### 4. Convert category values to just numbers 0 or 1.
- Iterate through the category columns in df to keep only the last character of each string (the 1 or 0). For example, `related-0` becomes `0`, `related-1` becomes `1`. Convert the string to a numeric value.
- You can perform [normal string actions on Pandas Series](https://pandas.pydata.org/pandas-docs/stable/text.html#indexing-with-str), like indexing, by including `.str` after the Series. You may need to first convert the Series to be of type string, which you can do with `astype(str)`.

In [88]:
for column in categories:
    # set each value to be the last character of the string
    categories[column] = categories[column].str.get(-1)
    
    # convert column from string to numeric
    categories[column] = pd.to_numeric(categories[column] )
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [89]:
categories.shape

(26386, 36)

In [90]:
for col in categories:
    print(categories[col].value_counts(dropna=False))
    print()

1    20042
0     6140
2      204
Name: related, dtype: int64

0    21873
1     4513
Name: request, dtype: int64

0    26265
1      121
Name: offer, dtype: int64

0    15432
1    10954
Name: aid_related, dtype: int64

0    24287
1     2099
Name: medical_help, dtype: int64

0    25067
1     1319
Name: medical_products, dtype: int64

0    25661
1      725
Name: search_and_rescue, dtype: int64

0    25915
1      471
Name: security, dtype: int64

0    25523
1      863
Name: military, dtype: int64

0    26386
Name: child_alone, dtype: int64

0    24702
1     1684
Name: water, dtype: int64

0    23430
1     2956
Name: food, dtype: int64

0    24044
1     2342
Name: shelter, dtype: int64

0    25976
1      410
Name: clothing, dtype: int64

0    25780
1      606
Name: money, dtype: int64

0    26085
1      301
Name: missing_people, dtype: int64

0    25506
1      880
Name: refugees, dtype: int64

0    25182
1     1204
Name: death, dtype: int64

0    22922
1     3464
Name: other_aid, dtype: int64

0    24677
1     1709
Name: infrastructure_related, dtype: int64

0    25174
1     1212
Name: transport, dtype: int64

0    25041
1     1345
Name: buildings, dtype: int64

0    25848
1      538
Name: electricity, dtype: int64

0    26227
1      159
Name: tools, dtype: int64

0    26103
1      283
Name: hospitals, dtype: int64

0    26266
1      120
Name: shops, dtype: int64

0    26077
1      309
Name: aid_centers, dtype: int64

0    25231
1     1155
Name: other_infrastructure, dtype: int64

0    19043
1     7343
Name: weather_related, dtype: int64

0    24209
1     2177
Name: floods, dtype: int64

0    23922
1     2464
Name: storm, dtype: int64

0    26104
1      282
Name: fire, dtype: int64

0    23925
1     2461
Name: earthquake, dtype: int64

0    25853
1      533
Name: cold, dtype: int64

0    25007
1     1379
Name: other_weather, dtype: int64

0    21273
1     5113
Name: direct_report, dtype: int64

In [103]:
df.loc[categories.related==2]

,id,message,original,genre,categories
117,146,Dans la zone de Saint Etienne la route de Jacm...,Nan zon st. etine rout jakmel la bloke se mize...,direct,related-2;request-0;offer-0;aid_related-0;medi...
221,263,. .. i with limited means. Certain patients co...,t avec des moyens limites. Certains patients v...,direct,related-2;request-0;offer-0;aid_related-0;medi...
307,373,The internet caf Net@le that's by the Dal road...,Cyber cafe net@le ki chita rout de dal tou pr ...,direct,related-2;request-0;offer-0;aid_related-0;medi...
462,565,"Bonsoir, on est a bon repos aprs la compagnie ...",Bonswa nou nan bon repo apri teleko nan wout t...,direct,related-2;request-0;offer-0;aid_related-0;medi...
578,700,URGENT CRECHE ORPHANAGE KAY TOUT TIMOUN CROIX ...,r et Salon Furterer. mwen se yon Cosmtologue. ...,direct,related-2;request-0;offer-0;aid_related-0;medi...
...,...,...,...,...,...
20465,23662,transferred to a sanitary landfill site by a,NaN,news,related-2;request-0;offer-0;aid_related-0;medi...
20636,23861,Families also have solar lamps which can be re...,NaN,news,related-2;request-0;offer-0;aid_related-0;medi...
22481,25874,Read the [full blog post](http://www.odi.org.u...,NaN,news,related-2;request-0;offer-0;aid_related-0;medi...
23537,27071,Actualmente e independientemente de la ayuda d...,NaN,news,related-2;request-0;offer-0;aid_related-0;medi...
25385,29126,Mali's former President Amadou Toumani Touré -...,NaN,news,related-2;request-0;offer-0;aid_related-0;medi...

### 5. Replace `categories` column in `df` with new category columns.
- Drop the categories column from the df dataframe since it is no longer needed.
- Concatenate df and categories data frames.

In [71]:
df.shape

(26386, 5)

In [104]:
# drop the original categories column from `df`
df = df.drop('categories', axis=1)

df.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [105]:
# concatenate the original dataframe with the new `categories` dataframe
df = pd.concat([df, categories], axis=1)
df.tail()

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
26381,30261,The training demonstrated how to enhance micro...,NaN,news,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26382,30262,A suitable candidate has been selected and OCH...,NaN,news,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26383,30263,"Proshika, operating in Cox's Bazar municipalit...",NaN,news,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26384,30264,"Some 2,000 women protesting against the conduc...",NaN,news,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
26385,30265,A radical shift in thinking came about as a re...,NaN,news,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [106]:
df.isna().sum()

id                            0
message                       0
original                  16140
genre                         0
related                       0
request                       0
offer                         0
aid_related                   0
medical_help                  0
medical_products              0
search_and_rescue             0
security                      0
military                      0
child_alone                   0
water                         0
food                          0
shelter                       0
clothing                      0
money                         0
missing_people                0
refugees                      0
death                         0
other_aid                     0
infrastructure_related        0
transport                     0
buildings                     0
electricity                   0
tools                         0
hospitals                     0
shops                         0
aid_centers                   0
other_infrastructure          0
weather_related               0
floods                        0
storm                         0
fire                          0
earthquake                    0
cold                          0
other_weather                 0
direct_report                 0
dtype: int64

### 6. Remove duplicates.
- Check how many duplicates are in this dataset.
- Drop the duplicates.
- Confirm duplicates were removed.

In [107]:
# check number of duplicates
df.duplicated('message').sum()

209

In [108]:
# drop duplicates
df = df.drop_duplicates('message', keep='first')

In [109]:
# check number of duplicates
df.duplicated('message').sum()

0

In [110]:
for col in category_colnames:
    print(df[col].value_counts(dropna=False))
    print()

1    19874
0     6115
2      188
Name: related, dtype: int64

0    21713
1     4464
Name: request, dtype: int64

0    26060
1      117
Name: offer, dtype: int64

0    15337
1    10840
Name: aid_related, dtype: int64

0    24097
1     2080
Name: medical_help, dtype: int64

0    24867
1     1310
Name: medical_products, dtype: int64

0    25453
1      724
Name: search_and_rescue, dtype: int64

0    25706
1      471
Name: security, dtype: int64

0    25318
1      859
Name: military, dtype: int64

0    26177
Name: child_alone, dtype: int64

0    24508
1     1669
Name: water, dtype: int64

0    23260
1     2917
Name: food, dtype: int64

0    23869
1     2308
Name: shelter, dtype: int64

0    25773
1      404
Name: clothing, dtype: int64

0    25574
1      603
Name: money, dtype: int64

0    25879
1      298
Name: missing_people, dtype: int64

0    25303
1      874
Name: refugees, dtype: int64

0    24985
1     1192
Name: death, dtype: int64

0    22736
1     3441
Name: other_aid, dtype: int64

0    24472
1     1705
Name: infrastructure_related, dtype: int64

0    24978
1     1199
Name: transport, dtype: int64

0    24846
1     1331
Name: buildings, dtype: int64

0    25645
1      532
Name: electricity, dtype: int64

0    26018
1      159
Name: tools, dtype: int64

0    25894
1      283
Name: hospitals, dtype: int64

0    26057
1      120
Name: shops, dtype: int64

0    25868
1      309
Name: aid_centers, dtype: int64

0    25026
1     1151
Name: other_infrastructure, dtype: int64

0    18891
1     7286
Name: weather_related, dtype: int64

0    24028
1     2149
Name: floods, dtype: int64

0    23737
1     2440
Name: storm, dtype: int64

0    25895
1      282
Name: fire, dtype: int64

0    23725
1     2452
Name: earthquake, dtype: int64

0    25649
1      528
Name: cold, dtype: int64

0    24801
1     1376
Name: other_weather, dtype: int64

0    21114
1     5063
Name: direct_report, dtype: int64

In [117]:
rows_to_drop = df.message.isna()
for col in category_colnames:
    rows_to_drop = rows_to_drop | (~df[col].isin([0, 1]))

rows_to_drop.sum()
df = df[~rows_to_drop].copy()
df

### 7. Save the clean dataset into an sqlite database.
You can do this with pandas [`to_sql` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html) combined with the SQLAlchemy library. Remember to import SQLAlchemy's `create_engine` in the first cell of this notebook to use it below.

In [38]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///DisasterResponse.db')
df.to_sql('categorized_messages', engine, index=False)

### 8. Use this notebook to complete `etl_pipeline.py`
Use the template file attached in the Resources folder to write a script that runs the steps above to create a database based on new datasets specified by the user. Alternatively, you can complete `etl_pipeline.py` in the classroom on the `Project Workspace IDE` coming later.